<div id="divHeader" style="overflow:hidden;">
    <div style="width:99%; background:url('@Url.Content("~/Content/Images/Top/m_03.gif")');">
        <div style="border:0px;float:left;width:339px;height:75px;background-image: url('@Url.Content("~/Content/Images/Top/m_01.gif")');">
        </div>
        <div style="border:0px;float:left;width:100px;height:75px;background-image: url('@Url.Content("~/Content/Images/Top/m_02.gif")');overflow: hidden;">
        </div>
        <div style="float:left;width:538px;height:75px;">
            <a href="#" style="margin-top:50px;display:block;float:left;"><img src="@Url.Content("~/Content/Images/Top/m_08.gif")" alt="" border="0" /></a>
            <a href="@Url.Content("~/User/Login")" style="margin-top: 50px; display: block;float: left;"><img src="@Url.Content("~/Content/Images/Top/m_09.gif")" alt="" border="0" /></a>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
